@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
.Pocketjustice {
  /*width: 1540px;
  height: 350px;*/
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  background-image: url(./BLMprotest.jpg);
  background-size: cover;
  background-color: #cccccc; /*backup*/
  text-align: center;
}
.titletext-home {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  display: inline-block;

  position: relative;
  top: 20%;
  left: 0%;

  color: #ffffff;
}
.description-home {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;

  position: relative;
  top: 20%;
  left: 0%;

  color: #ffffff;
}

.title-button-home {
  padding-top: 7%;
}

.home-content {
  padding-top: 1%;
  font-family: "Nunito", sans-serif;
  background-color: #e5e5e5;
  height: 45%;
  overflow: hidden;
}

.home-content-card1 {
  background-color: #e5e5e5;
  padding-right: 30px;
  height: 100%;
  text-align: left;
  width: 15%;
  vertical-align: top;
  display: inline-block;
  padding-top: 50px;
}

.home-content-card2 {
  background-color: #e5e5e5;
  padding-right: 30px;
  height: 100%;
  text-align: left;
  width: 15%;
  vertical-align: top;
  display: inline-block;
  padding-top: 50px;
}

.home-content-card3 {
  background-color: #e5e5e5;

  height: 100%;
  text-align: left;
  width: 15%;
  vertical-align: top;
  display: inline-block;
  padding-top: 50px;
}

.home-content-text {
  display: block;
  width: 100%;
}

.home-content-text-header {
  padding-top: 10px;
  height: 20px;
  width: 100%;
  font-weight: bold;
}

.home-content-image {
  height: 220px;
  width: auto;
}

.home-footer {
  padding-top: 1%;
  font-family: "Nunito", sans-serif;
  height: 15%;
  background-color: #e5e5e5;
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
}
