@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
.Pocketjustice {
  background-image: url(./BLMprotest.jpg);
  background-size: cover;
  background-color: #cccccc; /*backup*/
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}
.titletext-home {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #ffffff;
  padding: 0;
  margin: 5.3rem 0 2.3rem 0;
}
.description-home {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 3rem;
}
.startbutton-home {
  margin: 1.3rem;
}
.captioned-figure {
	display: table;
  table-layout: fixed;
  text-align: left;
  margin: 0 2rem 0 2rem;
}
.captioned-figure img {
	margin-bottom: 10px;
  border: 0;
  height: 220px;
  width: auto;
}
.captioned-figure .figcaption {
	display: table-caption;
	caption-side: bottom;
}

.home-content-text-header {
  margin: 0;
  font-weight: bold;
}

.home-content-image {
  height: 220px;
  width: auto;
}

.home-footer {
  padding-top: 1%;
  font-family: "Nunito", sans-serif;
  min-height: 15%;
  height: fit-content;
  background-color: #e5e5e5;
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
}
